

@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    .section-container {
        flex-direction: column;
    }

    .about-container {
        flex-wrap: nowrap;
    }

    .details-container {
        width: 100%;
    }

    .text-container {
        width: 100%;
    }

    .arrow {
        bottom: 20px;
        right: 20px;
    }
}

/*experience  */
@media only screen and (max-width: 768px) {
    .project {
        width: calc(50% - 20px);
    }
}

@media only screen and (max-width: 480px) {
    .project {
        width: 100%;
    }
}
